.carousel {
  /*margin-bottom: 30px;*/
  padding-top:15px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 25px; 
  height: 350px 350px;
}

.carousel img {
  width: 60%;
  height: 550px;
  border-radius: 25px; /* Rounded corners for images */
}

@media (max-width: 768px) {
  .carousel img {
    height: 200px; /* Fixed height for images on smaller screens */
  }
}