/* General container styles */
.downloads {
  padding: 20px;
  margin: 20px auto;
  border-radius: 12px;
  text-align: center;
}

.downloads h2 {
  margin-top: 60px;
  font-size: 3.5em;
  color: #107067;
  margin-bottom: 20px;
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.7);
}

.dark-mode .downloads h2 {
  color: #3aa99e;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.downloads p {
  font-size: 1.2em;
  color: #333;
  line-height: 1.6;
}


.dark-mode .downloads p {
  color: #ccc;
}

.downloads-container {
  margin: 20px;
  border-radius: 12px;
  text-align: center;
}

.filters {
  margin: 20px 0;
}

.filters button, .download-button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #107067;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  border: #789 0.1px solid;
}

.filters button:hover{
  background-color: #3aa99e;
}

.download-button:hover{
  background-color: #3aa99e;
}

.book-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.book-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  text-align: center;
}

.book-image {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 15px;
  object-fit: cover;
}

.book-card h3 {
  font-size: 1.5em;
  color: #107067;
  margin-bottom: 10px;
  text-align: center;
}

.book-card p {
  font-size: 1.1em;
  color: #666;
  text-align: center;
  line-height: 1.6;
}


/* Dark theme styles */
body.dark-mode .downloads-container {
  background-color: transparent;
  color: #f8f9fa;
}

body.dark-mode .filters button {
  background-color: #107067;
}

body.dark-mode .filters button:hover {
  background-color: #3aa99e;
}

body.dark-mode .book-card {
  background-color: #333;
}

body.dark-mode .book-card h3 {
  color: #4fc4be;
}

body.dark-mode .book-card p {
  color: #ccc;
}

body.dark-mode .download-button {
  background-color: transparent;
}

body.dark-mode .download-button:hover {
  background-color: #107067;
}
