
/* General container styles */
.library {
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.library h2 {
  margin-top: 60px;
  font-size: 3.5em;
  color: #107067;
  margin-bottom: 20px;
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.7);
}

.dark-mode .library h2 {
  color: #3aa99e;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.library p {
  font-size: 1.2em;
  color: #333;
  line-height: 1.6;
}

.dark-mode .library p {
  color: #ccc;
}

.library-container {
  margin: 20px;
  border-radius: 12px;
  text-align: center;
}

.library-container h2 {
  margin-top: 40px;
  font-size: 2.5em;
  color: #107067;
}

.library-container p {
  font-size: 1.2em;
  color: #666;
}

/* Filters styles */
.filters {
  margin: 20px 0;
}

.filters button, .filters select, .view-button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #107067;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  border: #789 0.1px solid;
}

.filters button:hover, .view-button:hover{
  background-color: #3aa99e;
}

/* Book cards styles */
.book-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.book-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-image {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 15px;
  object-fit: cover;
}

.book-card h3 {
  font-size: 1.5em;
  color: #107067;
  margin-bottom: 10px;
  text-align: center;
}

.book-card p {
  font-size: 1.1em;
  color: #666;
  text-align: center;
  line-height: 2.5;
}

.book-card .author, .book-card .rating {
  font-size: 1em;
  color: #777;
}

.rating {
  display: flex;
  justify-content: center;
}

.star{
  font-size: 1.2em;
  color: #f8df00;
}

.view-button {
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  width: 100%;
}


/* Dark theme styles */
.dark-mode .library-container {
  background-color: transparent;
  color: #f8f9fa;
}

.dark-mode .library-container h2 {
  color: #4fc4be;
}

.dark-mode .filters button, body.dark-mode .filters select {
  background-color: #107067;
}

.dark-mode .book-card {
  background-color: #333;
}

.dark-mode .book-card h3 {
  color: #4fc4be;
}

.dark-mode .book-card p, .dark-mode .author{
  color: #ccc;
}

.dark-mode .view-button {
  background-color: transparent;
}
.dark-mode .view-button:hover {
  background-color: #107067;
}

