.admin-panel {
  display: flex;
}

.sidebar {
  width: 220px;
  background-color: #107067;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar.closed {
  width: 60px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 60px; /* Fixed height for header */
}

.sidebar-header h1 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-toggle {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  height: 40px;
  display: flex;
  margin-left: 10px;
  align-items: center;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: calc(100vh - 60px); /* Subtract header height */
  overflow-y: auto;
}

.sidebar-list li {
  margin: 16px 10px;
}

.sidebar-list .link,
.sidebar-list .logout-button {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 12px 12px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  background: none;
  border: none;
  width: calc(100% - 0px);
  text-align: center;
  cursor: pointer;
  border-radius: 30px 0 30px ;
  margin:  10px 0px ;
}

.sidebar-list .link:hover,
.sidebar-list .logout-button:hover,
.sidebar-list .link.active {
  background-color: #00b4ab8f;
}

.sidebar-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0.5;
  margin-right: 20px;
}

.sidebar-list .link span,
.sidebar-list .logout-button span {
  transition: opacity 0.3s ease;
  white-space:wrap;
  overflow: hidden;
  text-overflow:ellipsis;
}

.sidebar.closed .sidebar-list .link,
.sidebar.closed .sidebar-list .logout-button {
  justify-content: center;
  padding: 12px;
  width: 40px;
  margin: 0;
}

.sidebar.closed .sidebar-list .link span,
.sidebar.closed .sidebar-list .logout-button span,
.sidebar.closed .sidebar-header h1 {
  opacity: 0;
  width: 0;
  overflow: hidden;
}

.sidebar.closed .sidebar-icon {
  margin-right: 0;
}

.sidebar-toggle {
  top: 20px;
  left: 10px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.sidebar-toggle svg {
  font-size: 20px;
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 190px;
  transition: margin-left 0.3s ease;
}

.content.sidebar-closed {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.closed {
    width: 0;
    padding: 0;
  }

  .sidebar-header {
    display: none;
    padding-bottom: 100px;
  }

  .content {
    margin-left: 20px;
  }

  .content.sidebar-closed {
    margin-left: 0;
  }

  .sidebar-list .link span,
  .sidebar-list .logout-button span {
    opacity: 0;
    width: 0;
    overflow: hidden;
  }

  .sidebar-list .link,
  .sidebar-list .logout-button {
    justify-content: center;
    padding: 15px 0;
  }

  .sidebar-icon {
    margin-right: 0;
  }
}

